############# settings #############
#                                  #
#      part of CPP_birdtracker     #
#     Wesley T. Honeycutt, 2020    #
#                                  #
#   Comment lines with octothorpe  #
# Code lines must be \n terminated #
#                                  #
####################################

# Run frame_extraction with debugging output (prints everything verbose)
DEBUG_COUT = true

# Run frame_extraction with OpenCV window for debugging purposes
DEBUG_FRAMES = false

# Should the frame extractor output every frame with detected contours?
OUTPUT_FRAMES = true

# Should the program cleanup the generated frame png images on exit?
# This is ignored if OUTPUT_FRAMES = false
EMPTY_FRAMES = true

# Should the program concatenate the exported frames into a video at the end?
# This is ignored if OUTPUT_FRAMES = false
GEN_SLIDESHOW = true

# Tight crop the output frames when generating the slideshow?
# This is ignored if OUTPUT_FRAMES = false
TIGHT_CROP = true

# Should the program attempt to created a simplified file of frames where the edge is off screen?
SIMP_ELL = true

# Should the program concatenate the Tiered data into a single file?
CONCAT_TIERS = true

# The project code for the project on OSF (optional)
OSFPROJECT = "52kyq"

# The directory where the output data should be put.  Default creates a new directory.
# No quotation marks.  Requires a leading slash and trailing slash (e.g. /test/)
OUTPUTDIR = /Birdtracker_Output/

# Number of Pixels touching the edge of the image to count as "off screen"
EDGETHRESH = 10

# Quiet Halo Elimination mask width.  How many pixels around the moon halo can be ignored?
QHE_WIDTH = 25

# Threshold value for a TOZERO OpenCV thresholding operation.  This is used to mask any haze around
# the moon, making sure the 'night sky' remains black, and prevents a hazy moon from doing strange
# things to the perceived size of the moon by the dumb algorithm.  When finding the the size of the moon
# halo, all pixels below this value (of max 255) become 0.  If you set it too high for your video, you
# may lose some moon size in the process, but this will not break your bird tracking.
BLACKOUT_THRESH = 51




##### Tier Operations Values
# These values impact individual values used for each "tier" of calculations

## Tier 1 options
# Max value for adaptive threshold
T1_AT_MAX = 255

# Blocksize for adaptive threshold
T1_AT_BLOCKSIZE = 65

# Subtracted constant for adaptive threshold
T1_AT_CONSTANT = 35

# Width of the dynamic mask around the edge of the moon.
T1_DYMASK = 20



## Tier 2 options
# Max value for adaptive threshold
T2_AT_MAX = 255

# Blocksize for adaptive threshold
T2_AT_BLOCKSIZE = 65

# Subtracted constant for adaptive threshold
T2_AT_CONSTANT = 20

# Width of the dynamic mask around the edge of the moon.
T2_DYMASK = 30


## Tier 3 options
# Kernel size of laplacian transform
T3_LAP_KERNEL = 11

# Scaling value of laplacian transform
T3_LAP_SCALE = 0.0001

# Delta value of laplacian transform
T3_LAP_DELTA = 0

# Gaussian Blur X kernel size
T3_GB_KERNEL_X = 11

# Gaussian Blur Y kernel size
T3_GB_KERNEL_Y = 11

# Gaussian Blur sigma x value
T3_GB_SIGMA_X = 1

# Gaussian Blur sigma y value
T3_GB_SIGMA_Y = 1

# Thresholding value unique to Tier 3.  Removes items less than the threshold
T3_CUTOFF_THRESH = 40

# Width of the dynamic mask application
T3_DYMASK = 45




## Tier 4 options
# Max value for adaptive threshold
T4_AT_MAX = 255

# Blocksize for adaptive threshold
T4_AT_BLOCKSIZE = 35

# Subtracted constant for adaptive threshold
T4_AT_CONSTANT = 5

# "UnCanny" script raises values to this power
T4_POWER = 2

# Gaussian Blur X kernel size
T4_GB_KERNEL_X = 11

# Gaussian Blur Y kernel size
T4_GB_KERNEL_Y = 11

# Gaussian Blur sigma x value
T4_GB_SIGMA_X = 1

# Gaussian Blur sigma y value
T4_GB_SIGMA_Y = 1

# Contour Thinning type (see ximgproc::thinning)
T4_THINNING = 0

# Width of the dynamic mask application
T4_DYMASK = 45
